@{
    ViewBag.Title = "Тестовая страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Тестовая страница.</h1>
                <h2>Тестируем поисковую систему</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<h3>Как пользоваться:</h3>
<ol class="round">
    <li class="one">
        <h5>Загружаем в систему картинку-образец</h5>
        Выбираем атрибуты, по которым будем искать (опционально)
    </li>
    <li class="two">
        <h5>Смотрим результаты</h5>
        &nbsp;
    </li>
    <li class="three">
        <h5>По желанию выставляем оценки полученным результатам</h5>
        Это позволит постепенно улучшать поиск
    </li>
</ol>
